{% set deploy_commit = constant('AppBundle\\Utils\\ConstantUtil::DEPLOY_COMMIT') %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Orion</title>
    <link href="{{ asset('css/bootstrap.min.css') }}?v={{ deploy_commit }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}?v={{ deploy_commit }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/dataTables.bootstrap.css') }}?v={{ deploy_commit }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/style.css') }}?v={{ deploy_commit }}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{{ asset('js/jquery-2.2.1.min.js') }}?v={{ deploy_commit }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}?v={{ deploy_commit }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.maskedinput.min.js') }}?v={{ deploy_commit }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}?v={{ deploy_commit }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.bootstrap.min.js') }}?v={{ deploy_commit }}"></script>
    <script type="text/javascript" src="{{ asset('js/moment-with-locales.min.js') }}?v={{ deploy_commit }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}?v={{ deploy_commit }}"></script>

    <script type="text/javascript">
        var baseurl = "{{ path('admin_index') }}";
    </script>
</head>
<body>
    {% set _titulo = block('titulo') %}
    {% if _titulo is not empty %}
        <header class="container">
            <div class="content">
                <div class="logo-container">
                    <div class="logo-container__logo">
                        <img src="{{ asset("images/logo.png") }}" width="100" alt="">
                    </div>
                </div>
                <div class="pull-right" style="margin-top: 8px">
                    <span class="fa fa-user fa-fw"></span>
                    Olá, {{ app.session.get('nomUsuario') }}
                    <span class="label label-default">{{ app.session.get('desNivel') }}</span>
                </div>
            </div>
        </header>
    {% endif %}

    {% if app.security.token %}
        <div id="navegacao" >
            <div class="container">
                <div class="content">
                    <div id="navegacao__content">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ path('admin_index') }}">Home</a></li>
                                    {% for role in ['ROLE_GESTOR', 'ROLE_EMPRESA', 'ROLE_ENCARREGADO', 'ROLE_SUPERVISAO', 'ROLE_ESTOQUISTA', 'ROLE_COMPRADOR', 'ROLE_RH'] %}
                                        {% if app.security.granted(role) %}
                                            {% for item in get_menu(role) %}
                                                {% if item.submenu %}
                                                    <li class="dropdown">
                                                        <a href="#" data-toggle="dropdown">{{ item.label }} <span class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            {% for sitem in item.submenu %}
                                                                <li><a href="{{ (sitem.param ? path(sitem.url, sitem.param) : path(sitem.url))}}">{{ sitem.label }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% else %}
                                                    <li><a href="{{ path(item.url) }}">{{ item.label }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    <li><a href="{{ path('admin_logout') }}">Logout</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('warning') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% set _titulo = block('titulo') %}
        {% if _titulo is not empty %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {% block titulo %}{% endblock %}
                        <small>{% block subtitulo %}{% endblock %}</small>
                    </h1>
                </div>
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"><!-- ajax --></div>
        </div>
    </div>
</body>
</html>