<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SISREC</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}">

    <script type="text/javascript" src="{{ asset('js/jquery-2.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/metisMenu.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/sb-admin-2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <form action="{{ path("admin_security_check") }}" class="form-signin" role="form" method="post">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default" style="margin-top: 25%">
                        <div class="panel-heading">
                            SISREC
                        </div>
                        <div class="panel-body">
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    Login ou senha inválidos.
                                    <!--{{ error.message }}-->
                                </div>
                            {% endif %}

                            {{ form_errors(form) }}

                            <div class="form-group">{{ form_widget(form._username) }}</div>
                            <div class="form-group">{{ form_widget(form._password) }}</div>
                            {{ form_row(form.btn_login) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
    <script type="text/javascript">
            $('[name="j_username"]').mask('999.999.999-99');
    </script>
</body>
</html>